{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чат</title>
    <link rel="stylesheet" href="{% static 'vendor/css/iq_test.css' %}">
</head>
<body>
    <h1>Чат</h1>

    <div class="chats">
        <div class="chat">
            <a href="{%url 'chatapp:messenger'%}"><h1>1 чат</h1></a>
        </div>
        <div class="chat">
            <a href="{%url 'chatapp:messenger'%}"><h1>2 чат</h1></a>
        </div>
        <div class="chat">
            <a href="{%url 'chatapp:messenger'%}"><h1>3 чат</h1></a>
        </div>
        <div class="chat">
            <a href="{%url 'chatapp:messenger'%}"><h1>4 чат</h1></a>
        </div>
    </div>

    <div class="messages">
        <div class="message">
            <h1>Привет!</h1>
        </div>
    </div>

    <form class="send_message">
        <input type="text" name="message" value="{{message}}">
        <button type="submit">Отправить</button>
    </form>

</body>
</html>