{% extends "mainapp/base.html" %}
{% block title %}Тест{% endblock title %} {% block content %}

<div class="container">
    <h1><b>Тест</b></h1>
    <div class="heading1">
        <a href="{%url 'mainapp:main'%}">Перейти на главную</a><br>
    </div>
    <div class="container card">
        <form action="{%url 'mainapp:start_test' 0%}"  class="form_calc">
            <label for="" class="form-label">Введите имя</label>
            <input type="text" name="name" class="form-control" value="{{name}}">
            <input type="submit" value="начать тест" class="btn btn-primary">
        </form>
    </div>
</div>

{% endblock content %}
