{% extends "mainapp/base.html" %}
        
{% block title %}Главная misha-site{% endblock title %}

{% block content %}

<div class="container">
    <h1 class="text-center mb-3">Главная</h1>

    <a
        href="{%url 'mainapp:calculator'%}"
        class="p-2 text-decoration-none  link-div"
    >
        <div class="heading2 text-gold text-center">
            <i class="bi bi-calculator-fill"></i> Перейти на страницу
            калькулятора
        </div>
    </a>
    <a href="{%url 'mainapp:iq_test'%}" class="p-2 text-decoration-none">
        <div class="heading2 text-gold">Перейти на страницу теста</div>
    </a>
    <a href="{%url 'chatapp:chat'%}" class="p-2 text-decoration-none">
        <div class="heading2 text-gold">Зайти в чат</div>
    </a>
</div>

{% endblock content %}
        
        
    